{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<style>
    .small-title{
        color: royalblue;
        font-weight: 900;
        font-size: 45px;
    }
    #recent-update>li{
        font-size: 20px;
        margin-bottom: 18px;
    }
    #research-area>li{
        font-size: 30px;
        margin-bottom: 22px;
        font-weight: 500;
    }
    #contact>li{
        font-size: 25px;
        margin-bottom: 22px;
    }
    #teleport{
        text-decoration: none;
        color: #3794de;
        display: block;
        text-align: center;
        font-size: 22px;
        }
    #teleport:hover{
        text-decoration: none;
        font-weight: bold;
        color: #3794de;
        display: block;
        text-align: center;
        font-size: 22px;
        }
    #ra-link{
        text-decoration: none;
        color: #3794de;
        }
    #ra-link:hover{
        text-decoration: none;
        font-weight: 1000;
        color: #3794de;
        }
    .stats{
        font-size: 30px !important;
    }
</style>



<div id="main">
  <div class="width-rsp" style="background-image: url(/web-demo/general/graduate_photo2.png); background-repeat: no-repeat; background-size: cover; background-position: center top; padding-bottom: 1px;">
      <div id="hero">
      <h1 style="color: white">{{.Title}}</h1>
      <p style="color: white">{{.Description}}</p>
    </div>
    <div id="action-buttons">
      <a class="button primary big" href="/web-demo/members" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Our members</a>
    </div>
  </div>
<!--
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <h2>Recent Updates</h2> <br><br>
    <h4>- A Paper is Accepted <i>ECCV 2018</i> Blar Blar &ensp; <a class="button inverted small " href="https://naver.com/" > Arxiv </a> <a class="button inverted small " href="https://nate.com/" > Code </a> <a class="button inverted small " href="https://google..com/" > Project </a></h4> <br><br>
    <h4>- A Paper is Accepted <i>ECCV 2018</i> Blar Blar </h4>
  </div>
-->
    <div id="kube-features">
    <div class="row gutters">
      <div class="col col-3 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Ongoing Projects</h3>
        <p class="count stats">7</p>
      </div>
      <div class="col col-3 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>International Papers</h3>
        <p class="count stats">113</p>
      </div>
      <div class="col col-3 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Domestic Papers</h3>
        <p class="count stats">65</p>
      </div>
      <div class="col col-3 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Patents</h3>
        <p class="count stats">38</p>
      </div>
    </div>
    </div>
  
  <br/>
  <br/>
  <h2 class="small-title">Recent Publications</h2>
  <ul id="recent-update">
      <li>
          E. Song et al. <b>AHD: Thermal-Image Based Adaptive Hand Detection for Enhanced Tracking System</b>, <i>IEEE Access</i>, Mar 2018
      </li>
      <li>
          J. Choi et al. <b>L-Tree: A Local-Area-Learning-Based Tree Induction Algorithm for Image Classification</b>, <i>Sensors</i>, Jan. 2018
      </li>
      <li>
          K. Lee et al. <b>Brightness-Based Convolutional Neural Network for Thermal Image Enhancement</b>, <i>IEEE Access</i>, Nov. 2017
      </li>
      <li>
          S. Kim et al. <b>SSIM-based Distortion Metric for Film Grain Noise in HEVC</b>, <i>Signal Image and Video Processing</i>, Oct. 2017
      </li>
      <li>
          K. Lee et al. <b>Efficient Depth Enhancement Using a Combination of Color and Depth Information</b>, <i>Sensors</i>, Jul. 2017
      </li>
      <li>
          S. Kim et al. <b>Tracking and Classification of In-Air Hand Gesture Based on Thermal Guided Joint Filter</b>, <i>Sensors</i>, Jan. 2017
      </li>
      <li>
          J. Kim et al. <b>An Adaptive Local Binary Pattern for 3D Hand Tracking</b>, <i>Pattern Recognition</i>, Jan. 2017
      </li>
  </ul>
  <a href="/web-demo/publications" id="teleport">[More Publications]</a>
  
  <br/>
  <br/>
  <br/>
  <h2 class="small-title">Research Area</h2>
  <ul id="research-area">
      <li><a id="ra-link" href="/web-demo/research/#scene-understanding">Scene Understanding</a></li>
      <li><a id="ra-link" href="/web-demo/research/#human-analysis">Human Analysis</a></li>
      <li><a id="ra-link" href="/web-demo/research/#image-video-processing">Image/Video Processing</a></li>
  </ul>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <h2 class="small-title">Contact</h2>
  <ul id="contact">
      <li>Address: Engineering Hall 3, Yonsei University 50 Yonsei-ro, Seodaemun-gu, Seoul 120-749, Korea</li>
      <li>Tel: +82-2-2123-7843</li>
  </ul>
  <a href="/web-demo/contact" id="teleport">[More Informations]</a>
  
</div>

<script>
    $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 2200,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>

<script>
    document.getElementsByClassName("small-title").style.fontSize = "100px";
</script>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
