{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<style>
    .small-title{
        color: royalblue;
        font-weight: 900;
        font-size: 45px;
        text-align: center;
    }
    #recent-update>li{
        font-size: 20px;
        margin-bottom: 18px;
    }
    #research-area>li{
        font-size: 30px;
        margin-bottom: 22px;
        font-weight: 500;
    }
    #teleport{
        text-decoration: none;
        color: #3794de;
        display: block;
        text-align: center;
        font-size: 22px;
        }
    #teleport:hover{
        text-decoration: none;
        font-weight: bold;
        color: #3794de;
        display: block;
        text-align: center;
        font-size: 22px;
        }
    #ra-link{
        text-decoration: none;
        color: #3794de;
        }
    #ra-link:hover{
        text-decoration: none;
        font-weight: 1000;
        color: #3794de;
        }
    #section-stats{
        padding-top: 40px;
        background-color: royalblue;
    }
    #section-stats > .small-title{
        color: white;
    }
    .stats{
        color: white !important;
        font-size: 30px !important;
        font-weight: 900;
    }
    .stats-title{
        color: white;
    }
    .contact{
        background-color: royalblue;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .contact .small-title{
        color: white;
    }
    #contact-content{
        color: white;
        font-size: 25px;
        text-align: center;
    }
    .tg-title{
        font-weight: 900;
        font-size: 23px;
        text-align: center;
    }
    .tg-content{
        height: 380px;
        text-align: center;
        font-size: 17px;
    }
    .tg:nth-child(1),.tg:nth-child(2){
        width: 33.3333333%;
        float: left;
    }
    .tg:nth-child(3){
        width: 33.3333333%;
    }
    @media all and (max-width: 768px){
        .tg:nth-child(1), .tg:nth-child(2), .tg:nth-child(3){
            display: block;
            width: 100%;
        }
        .tg-content{
            height: auto;
        }
    }
</style>


<div class="width-rsp" style="background-image: url(/general/graduate_photo2.png); background-repeat: no-repeat; background-size: cover; background-position: center top; padding-bottom: 1px; width: 100%;">
      <div id="hero">
      <h1 style="color: white">{{.Title}}</h1>
      <p style="color: white">{{.Description}}</p>
      <div style="color: white; font-size: 20px;">School of Electrical and Electronic Engineering, Yonsei University, Seoul, Korea</div>
    </div>
    <div id="action-buttons">
      <a class="button primary big" href="/members" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Our members</a>
    </div>
</div>

<div id="main" style="padding-left: 2rem; padding-right: 2rem;">

<!--
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <h2>Recent Updates</h2> <br><br>
    <h4>- A Paper is Accepted <i>ECCV 2018</i> Blar Blar &ensp; <a class="button inverted small " href="https://naver.com/" > Arxiv </a> <a class="button inverted small " href="https://nate.com/" > Code </a> <a class="button inverted small " href="https://google..com/" > Project </a></h4> <br><br>
    <h4>- A Paper is Accepted <i>ECCV 2018</i> Blar Blar </h4>
  </div>
-->
  <br/>
  <br/>
  <h2 class="small-title" style="margin-bottom: 30px; margin-top: 40px;">Recent Publications</h2>
  <ul id="recent-update">
      <li>
          E. Song et al. <b>CarvingNet: Content-Guided Seam Carving using Deep Convolution Neural Network</b>, <i>IEEE Access</i>, Dec 2018
      </li>
      <li>
          H. Lee et al. <b>CollaboNet: Collaboration of Generative Models by Unsupervised Classification</b>, <i>IEEE ICIP</i>, Oct 2018
      </li>
      <li>
          E. Song et al. <b>AHD: Thermal-Image Based Adaptive Hand Detection for Enhanced Tracking System</b>, <i>IEEE Access</i>, Mar 2018
      </li>
      <li>
          J. Choi et al. <b>L-Tree: A Local-Area-Learning-Based Tree Induction Algorithm for Image Classification</b>, <i>Sensors</i>, Jan. 2018
      </li>
      <li>
          K. Lee et al. <b>Brightness-Based Convolutional Neural Network for Thermal Image Enhancement</b>, <i>IEEE Access</i>, Nov. 2017
      </li>
      <li>
          S. Kim et al. <b>SSIM-based Distortion Metric for Film Grain Noise in HEVC</b>, <i>Signal Image and Video Processing</i>, Oct. 2017
      </li>
      <li>
          K. Lee et al. <b>Efficient Depth Enhancement Using a Combination of Color and Depth Information</b>, <i>Sensors</i>, Jul. 2017
      </li>
      <li>
          S. Kim et al. <b>Tracking and Classification of In-Air Hand Gesture Based on Thermal Guided Joint Filter</b>, <i>Sensors</i>, Jan. 2017
      </li>
  </ul>
   <br/>
    <div id="action-buttons">
      <a class="button primary big" href="/publications" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">More Publications</a>
    </div>
  
<br/>
<br/>

</div>

<div id="section-stats">
    <h2 class="small-title">Stats</h2>
    <div id="main">
        <div id="kube-features" style="margin-top: 30px !important;">
            <div class="row gutters">
              <div class="col col-3 item">
                <figure>
                  <img alt="Baseline" height="48" src="/icon/stats/papers.svg" width="48">
                </figure>
                <h3 class="stats-title">SCI(E) Papers</h3>
                <p class="count stats">55</p>
              </div>
              <div class="col col-3 item">
                <figure>
                  <img alt="Baseline" height="48" src="/icon/stats/project.svg" width="48">
                </figure>
                <h3 class="stats-title">Finished Projects</h3>
                <p class="count stats">108</p>
              </div>
              <div class="col col-3 item">
                <figure>
                  <img alt="Baseline" height="48" src="/icon/stats/patents.svg" width="48">
                </figure>
                <h3 class="stats-title">Patents</h3>
                <p class="count stats">66</p>
              </div>
              <div class="col col-3 item">
                <figure>
                  <img alt="Baseline" height="48" src="/icon/stats/graduate.svg" width="48">
                </figure>
                <h3 class="stats-title">Graduated Members</h3>
                <p class="count stats">23</p>
              </div>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>


<!--
<div class="research-area">
    <h2 class="small-title" style="margin-bottom: 70px;">Research Area</h2>
    <div id="main">
        <table class="tg">
          <tr>
            <td class="tg-img">img1</td>
            <td class="tg-img">img2</td>
            <td class="tg-img">img3</td>
          </tr>
          <tr>
            <td class="tg-title">Scene Understanding</td>
            <td class="tg-title">Human Analysis</td>
            <td class="tg-title">Image/Video Processing</td>
          </tr>
          <tr>
            <td class="tg-content">Scene Understanding consists of detection, tracking and recognition of the general objects in various environment.<br><br>By understanding the spatiotemporal and semantic relationship in between the objects, object and scene can be modeled and reconstructed in 3D.<br><br>Based on the understanding of the scene and the object, our researches can be applied to real-time applications such as Autonomous Driving and Surveillance systems.</td>
            <td class="tg-content">Human Analysis is to detect, track and recognize the features by analyzing the action and behavior of the people including face, hands and the entire body.<br><br>Based on these recognition and detection, the extracted features can be utilized for landmark and pose estimation and gesture recognition,Furthermore, human behavior can be restored from analyzing the emotions.<br><br>Our researches of the Human Analysis can be applied to various applications such as Human-Computer and Human-Mobile Device Interaction.</td>
            <td class="tg-content">Image/Video Processing analyzes the low-level features of the multimedia.<br><br>It plays an important role for Scene Understanding and Human Analysis, by taking pre-processing and post processing.<br><br>From analyzing the correlation of the images, having various modality, it enhances and restores the images.<br><br>Our researches of the Image/Video Processing are applied to Image Enhancement and Video Coding/Streaming.</td>
          </tr>
        </table>
    </div>
</div>
-->
<div class="research-area">
    <h2 class="small-title" style="margin-bottom: 70px;">Research Area</h2>
    <div id="main">
        <table class="tg">
            <tr><td class="tg-img"></td></tr>
            <tr><td class="tg-title">Scene Understanding</td></tr>
            <tr><td class="tg-content">Scene Understanding consists of detection, tracking and recognition of the general objects in various environment.<br><br>By understanding the spatiotemporal and semantic relationship in between the objects, object and scene can be modeled and reconstructed in 3D.<br><br>Based on the understanding of the scene and the object, our researches can be applied to real-time applications such as Autonomous Driving and Surveillance systems.</td></tr>
        </table>
        <table class="tg">
            <tr><td class="tg-img"></td></tr>
            <tr><td class="tg-title">Human Analysis</td></tr>
            <tr><td class="tg-content">Human Analysis is to detect, track and recognize the features by analyzing the action and behavior of the people including face, hands and the entire body.<br><br>Based on these recognition and detection, the extracted features can be utilized for landmark and pose estimation and gesture recognition,Furthermore, human behavior can be restored from analyzing the emotions.<br><br>Our researches of the Human Analysis can be applied to various applications such as Human-Computer and Human-Mobile Device Interaction.</td></tr>
        </table>
        <table class="tg">
            <tr><td class="tg-img"></td></tr>
            <tr><td class="tg-title">Image/Video Processing</td></tr>
            <tr><td class="tg-content">Image/Video Processing analyzes the low-level features of the multimedia.<br><br>It plays an important role for Scene Understanding and Human Analysis, by taking pre-processing and post processing.<br><br>From analyzing the correlation of the images, having various modality, it enhances and restores the images.<br><br>Our researches of the Image/Video Processing are applied to Image Enhancement and Video Coding/Streaming.</td></tr>
        </table>
    </div>
    <br/>
    <div id="action-buttons" style="margin-bottom: 0">
      <a class="button primary big" href="/research" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">About More...</a>
    </div>
</div>
 
 <br/>
 <br/>
 <br/>
 <br/>
  
<div class="contact">
    <div id="main">
      <h2 class="small-title">Contact Us</h2>
      <br/>
      <br/>
    <div id="action-buttons" style="margin-bottom: 0">
      <a class="button primary big" href="/contact" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">About More...</a>
    </div>
    </div>
</div>  
  


<script>
    $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 2200,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
