{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<style>
  .professor{
    margin: auto;
  }
  @media (max-width: 768px){
    .professor{
      margin: 0 0;
      width: 100%;
    }
  }
</style>

<div id="main" style="max-width: 1200px !important">
  <div id="hero">
    <h1>Members</h1>
      <p>{{.Params.description}}<br></p>
  </div>
  <div id="components">
    <h2>Professor</h2>
    <div class="col col-4 item professor"> 
        <img alt="Baseline" width="150px" height="180px" src="/web-demo/members/SangyounLEE.png">
        <h4><a href="http://mvp.yonsei.ac.kr/index.php?mid=mmba">Sangyoun Lee</a></h4>
        <p>Professor</p>
    </div>
    <br>
    <h2>Students</h2>
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight }}
      <div class="col col-4 item"> <!-- Customize Members -->
        <img alt="Baseline" width="150px" height="180px" src="{{.Params.bref}}">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
    
    <br>
    <br>
    <br>
    
    <h2>Alumni</h2>
    
    <div class="row gutters">
    
    <div class="col col-4 item"> <!-- Customize Members -->
        <span style="font-size: 22px; font-weight: bold">Oh Jihun (오지훈)</span><br>
        <span style="font-size: 16px">M.S.(2014)</span>
        <ul style="text-align: left">
            <li><b>Research Area: </b>Facial Expression Recognition</li>
            <li><b>Affiliation: </b>LG전자 VC사업부</li>
            <li><b>Contact: </b>ojmh85@hanmail.net</li>
        </ul>
    </div>

    <div class="col col-4 item"> <!-- Customize Members -->
        <span style="font-size: 22px; font-weight: bold">Kim Joonrock (김중락)</span><br>
        <span style="font-size: 16px">M.S./Ph.D.(2014)</span>
        <ul style="text-align: left">
            <li><b>Research Area: </b>Human Computer Interaction</li>
            <li><b>Affiliation: </b>LG전자기술원</li>
            <li><b>Contact: </b>eie97112@hotmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item"> <!-- Customize Members -->
        <span style="font-size: 22px; font-weight: bold">Lee Jaeho (이재호)</span><br>
        <span style="font-size: 16px">M.S./Ph.D.(2014)</span>
        <ul style="text-align: left">
            <li><b>Research Area: </b>High Efficiency Video coding</li>
            <li><b>Affiliation: </b>LG전자기술원</li>
            <li><b>Contact: </b>jhlee.main@gmail.com</li>
        </ul>
    </div>
    
    </div>
    
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
