{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<style>
  .professor{
    margin: auto;
  }
  @media (max-width: 768px){
    .professor{
      margin: 0 0;
      width: 100%;
    }
  }
</style>

<div id="main">
  <div id="hero">
    <h1>Members</h1>
      <p>{{.Params.description}}<br></p>
  </div>
  <div id="components">
    <h2>Professor</h2>
    <div class="col col-4 item professor"> 
        <img alt="Baseline" width="150px" height="180px" src="/members/SangyounLEE.jpg">
        <h4><a href="/professor/">Sangyoun Lee</a></h4>
        <p>Professor</p>
    </div>
    <br>
    <h2>Students</h2>
    <div class="row gutters">
      {{ range .Data.Pages.ByWeight }}
      <div class="col col-4 item"> <!-- Customize Members -->
        <img alt="Baseline" width="150px" height="180px" src="{{.Params.bref}}">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
    
    <br>
    <br>
    <br>
    
    <h2>Alumni</h2>
    <h3>Ph.D.</h3>
    
    <div class="row gutters">

    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> <!-- Customize Members -->
       <img alt="Baseline" width="150px" height="180px" src="/members/DaehyunPAK.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Daehyun Pak (박대현)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D./Post Doc.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Realtime and On-Demand Video Streaming System-Framework</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Error Concealment for Realtime Streaming</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>(주)펫나우</li>
            <li><b>Contact: </b>daehyun.pak@gmail.com</li>
            <li><b>Web: </b>https://daehyun-pak.github.io/</li>
        </ul>
    </div>
   
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> <!-- Customize Members -->
       <img alt="Baseline" width="150px" height="180px" src="/members/JaesungCHOI.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Jaesung Choi (최재성)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Image Classification</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Object Detection</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Hand Pose Estimation</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성전자</li>
            <li><b>Contact: </b>choiciy@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> <!-- Customize Members -->
       <img alt="Baseline" width="150px" height="180px" src="/members/MinkyuLEE.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Minkyu Lee (이민규)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Facial Landmark Detection</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Single Object Tracking</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성전자</li>
            <li><b>Contact: </b>fptlgk@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/KyungjaeLEE.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Kyungjae Lee (이경재)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Image Enhancement</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Advanced Driver Assistance System</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>용인대학교 컴퓨터과학과 교수</li>
            <li><b>Contact: </b>kjlee@yiu.ac.kr</li>
        </ul>
    </div>

    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/YuseokBAN.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Yuseok Ban (반유석)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Detection & Recognition</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Hand Gesture & Posture Recognition</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Feature Extraction</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>국방과학연구소 (ADD)</li>
            <li><b>Contact: </b>i.am.mr.van@gmail.com</li>
        </ul>
    </div>   
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/SeongwanKIM.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Seongwan Kim (김성완)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">HEVC</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">UDTV</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Entropy Coding</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>LG전자 VC사업부</li>
            <li><b>Contact: </b>seongwan.kim@outlook.kr</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/KyungminLIM.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Kyung Min Lim (임경민)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">High Efficiency Video coding</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성 리서치</li>
            <li><b>Contact: </b>lkm1216@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/SooyeonKIM.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Sooyeon Kim (김수연)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Liveness Detection</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성 리서치</li>
            <li><b>Contact: </b>syeonsyeon@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JinkyuHWANG.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Jin Kyu Hwang (황진규)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">3D Face Modeling</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>현대자동차 연구소</li>
            <li><b>Contact: </b>jkhwang01@hyundai.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JaehoLEE.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Jaeho Lee (이재호)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">High Efficiency Video coding</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>한국기술보증기금</li>
            <li><b>Contact: </b>jhlee.main@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JoonrockKIM.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Joonrock Kim (김중락)</div><br>
        <div style="font-size: 16px;">Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Human Computer Interaction</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>LG전자기술원</li>
            <li><b>Contact: </b>eie97112@hotmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/SunjinYU.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Sunjin Yu (유선진)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D./Post Doc.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">3D Face Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>창원대학교 문화테크노학과 교수</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Sang-Ki Kim (김상기)</div><br>
        <div style="font-size: 16px;">M.S./Ph.D.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>LG전자기술원</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Yunseok Lee (이윤석)</div><br>
        <div style="font-size: 16px;">Post Doc.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Stereo Vision</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성전자 LSI연구소</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    </div>
    
    <br/>
    <br/>
    <h3>M.S.</h3>
    
    <div class="row gutters">
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JinkyungDO.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Jinkyung Do (도진경)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Emotion Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>CJ 4DPLEX</li>
            <li><b>Contact: </b>jkdo0923@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/SungjuPARK.jpg" style="margin-bottom: 13px; margin-top: 10px;">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Sungju Park (박성주)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Facial Landmark Detection</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>Spiceware</li>
            <li><b>Contact: </b>stray77769@gmail.com</li>
        </ul>
    </div>

    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JoosungLEE.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Joosung Lee (이주성)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Natural Language Processing</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>Kakao Enterprise</li>
            <li><b>Contact: </b>mexade92@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Sanghyuk Kim (김상혁)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Deep Neural Network</li>
                        <li style="text-indent: 20px; margin-bottom: 0;">Image Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>티맥스소프트 (전문연구요원)</li>
            <li><b>Contact: </b>kim.sanghyuk64@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Hyunhye Shin (신현혜)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성디스플레이</li>
            <li><b>Contact: </b>s92113078@gmail.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JunghyunKIM.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Junghyun Kim (김정현)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Pedestrain Detection</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>현대자동차 연구소</li>
            <li><b>Contact: </b>junghyun_kim@hyundai.com</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Woosung Jung (정우성)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">3D Reconstruction</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>모노리스</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/JihunOH.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Jihun Oh (오지훈)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Facial Expression Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>LG전자</li>
            <li><b>Contact: </b>ojmh85@hanmail.net</li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Woowon Kim (김우원)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Head Pose Estimation</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>한국과학기술연구원(KIST)</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Younjung Park (박윤정)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Recognition</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b></li>
            <li><b>Contact: </b></li>
        </ul>
    </div>

    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Sangheon Park (박상헌)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Hand Tracking</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>한국전자통신연구원 (ETRI)</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Hyobin Lee (이효빈)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">Face Detection</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b></li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
   <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Ildo Kim (김일도)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">H.264/AVC</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성전자</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    <div class="col col-4 item" style="line-height: 20px; padding-top: 30px; padding-bottom: 30px;!"> 
       <img alt="Baseline" width="150px" height="180px" src="/members/default.jpg">
        <div style="font-size: 20px; font-weight: bold; margin-top: 10px">Byoungwoo Kim (김병우)</div><br>
        <div style="font-size: 16px;">M.S.</div>
        <ul style="text-align: left; margin-top: 5px;!">
            <li>
                <b>Research Area</b>
                    <ul style="margin-top: 0;">
                        <li style="text-indent: 20px; margin-bottom: 0;">3D Face Modeling</li>
                    </ul>
            </li>
            <li><b>Affiliation: </b>삼성전자</li>
            <li><b>Contact: </b></li>
        </ul>
    </div>
    
    </div>
    
    
  </div>
</div>
{{ end }}

{{ define "footer"}} {{ partial "footer" .}} {{end}}
