{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<style>
  @media (max-width: 768px){
    table tr td:nth-child(1), table tr td:nth-child(2) {
      display: block;
      width: 100%;
      margin: 0 0;
    }
  }
</style>

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="kube-faq" style="max-width: 900px !important">
{{.Content}}
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}