  <footer id="footer" style="display: block !important">
    <nav>
      <ul>
<!--
        <li><span>Kube</span></li>
        <li>
          <a href="/company/">Company</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li>
-->
      </ul>
    </nav>
    <div>COPYRIGHT&copy; 2018 IMAGE AND VIDEO PATTERN RECOGNITION LAB. ALL RIGHTS RESERVED. (MVPRL)</div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Made and managed by <a href="/members/hyeongminlee/">Hyeongmin Lee</a></div>
  </footer>